/*= UTILITIES */
/*? COLORS */
.ligth-blue{
    color:#29b1dd;
}

.animal{
   color:#00f;
}

.vegetable{
    color:#ffa500;
 }

 .vegetable{
    color:#800080;
 }

.user{
    background-color:#29b1dd;
}

.bg-ligth-blue{
    background-color:#29b1dd;
}

/*? GENERALS */
a{
    text-decoration: none;
}

/*= HEADER */
#top-header, #bottom-header{
    height: 75px;
}

#top-header h1, #bottom-header{
    padding-top: 25px;
}

#bottom-header span.text-uppercase{
    font-size: 20px;
    font-weight: 600;
}

/*= MAIN */
main{
height: calc(100vh - 140px);
background-color: #ddd;
}

